<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="PhotoTrace"
      Manufacturer="PhotoTrace"
      Version="$(var.AppVersion)"
      Language="1033"
      Scope="perUserOrMachine"
      UpgradeCode="9EC0C47A-9B1F-47AB-90AA-23CD251EB251">

    <MajorUpgrade
        DowngradeErrorMessage="A newer version of PhotoTrace is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="mszip" />
    <Launch Condition="VersionNT64" Message="PhotoTrace requires 64-bit Windows." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="PhotoTrace" />
    </StandardDirectory>

    <Files Include="$(var.SourceDir)\**" Directory="INSTALLFOLDER">
      <Exclude Files="$(var.SourceDir)\PhotoTrace.exe" />
    </Files>

    <Component Id="MainExecutable" Directory="INSTALLFOLDER">
      <File
          Id="PhotoTraceExecutable"
          Source="$(var.SourceDir)\PhotoTrace.exe"
          KeyPath="yes">
        <Shortcut
            Id="PhotoTraceStartMenuShortcut"
            Directory="ProgramMenuFolder"
            Advertise="yes"
            Icon="PhotoTrace.exe"
            IconIndex="0"
            Name="PhotoTrace"
            Description="Geotag photos from a GPX route"
            WorkingDirectory="INSTALLFOLDER">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="PhotoTrace.Desktop" />
        </Shortcut>
        <Shortcut
            Id="PhotoTraceDesktopShortcut"
            Directory="DesktopFolder"
            Advertise="yes"
            Icon="PhotoTrace.exe"
            IconIndex="0"
            Name="PhotoTrace"
            Description="Geotag photos from a GPX route"
            WorkingDirectory="INSTALLFOLDER">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="PhotoTrace.Desktop" />
        </Shortcut>
      </File>
    </Component>

    <Icon
        Id="PhotoTrace.exe"
        SourceFile="$(var.SourceDir)\PhotoTrace.exe" />
    <Property Id="ARPPRODUCTICON" Value="PhotoTrace.exe" />
    <Property Id="ARPCOMMENTS" Value="Geotag photos from a recorded GPX route." />
    <UIRef Id="PhotoTraceUI" />
  </Package>
</Wix>
